option_settings:
    "aws:elasticbeanstalk:container:python":
        WSGIPath: project/wsgi.py
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "www/static/"

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_updatedatabase:
        command: "source /opt/python/run/venv/bin/activate && python manage.py updatedatabase"
        leader_only: true
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
        leader_only: true