{% extends 'browser/base.html' %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>About the archives</h1>
        <p>The Daily Californian has been published continually since 1871, providing a rich historical record not only of campus life, but also of the world seen through the eyes of the undergraduates at one of the nation's foremost public universities.</p>
        <p>But most of these issues aren't easily accessible to the public. They're stored on microfilm reels in the UC Berkeley library. Accessing them is free, but requires being on campus. Moreover, they're not searchable, tagged or categorized.</p>
        <p>We want to digitize and sort every microfilm reel in the library — an ambitious goal. Private contractors exist to scan microfilm in bulk, but this process can cost hundreds of thousands of dollars. We don't have that kind of money, but we do have eager and invested students willing to dedicate their time to the manual process of scanning the original microfilm. If you'd like to help us with a donation, please consider sponsoring an issue.</p>
        <p>We're starting with reels from 1964, the year of the Free Speech Movement. The UC Berkeley campus was a focal point of demonstrations, and the Daily Californian archives provide a fascinating account of that tumultuous year.</p>
        <p>From there, we'll work forward to the present day, one reel at a time.</p>
        <p>We're also working on automatically recognizing the text on the scanned pages and creating a tagged, searchable archive. That too is an ongoing effort, and we're documenting our progress on GitHub. We're hoping people, newspapers and libraries interested in digital archives will contribute to and use our open-source code.</p>
    </div>
</div>
{% endblock %}