{% extends 'browser/base.html' %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>About the archives</h1>
        <p>The Daily Californian has been published continually since 1871, providing a rich historical record not only of campus life, but also of the world seen through the eyes of the undergraduates at one of the nation's foremost public universities. Our archives document the history of the Free Speech Movement, anti-war rallies such as the People’s Park protest of 1971, and still-memorable Big Games against Stanford University. Taken together, they encompass a major piece of California and East Bay history.</p>
        <p>But most of these issues aren't easily accessible to the public. They're stored on microfilm reels in the Bancroft Library’s University Archives. Additionally, the only microfilm readers available to us are also located at the University Archives, which necessitates that we do all of our archiving work on site. Moreover, the reels are neither searchable nor tagged.</p>
        <p>Our goal is to digitize and sort every Daily Californian microfilm reel in the library. While private companies often scan microfilm in bulk, this process can cost hundreds of thousands of dollars — money that would be better spent improving our current newspaper coverage. In lieu, we have staff members who are willing to dedicate their time to the manual process of scanning the original microfilm.</p>
        <p>We've chosen to start with reels from 1964, the year of the Free Speech Movement because the Daily Californian archives offer fascinating insight into that tumultuous year. From there, we'll work to archive the other 144 years of our history, one reel at a time. If you'd like to help us with a donation, please consider <a href="{% url 'sponsor' %}">sponsoring our efforts</a>.</p>
    </div>
</div>
{% endblock %}