{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}The Daily Californian Archive{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8" />
        <meta name="description" content="{% block description %}An online archive of historical issues of the Daily Californian, UC Berkeley's student newspaper.{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}dailycal, Daily Californian, Daily Cal, archive, history, microfilm, library, Berkeley{% endblock %}" />
        <link rel='shortcut icon' href='http://www.dailycal.org/assets/uploads/2012/02/favicon.png'/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="An online archive of historical issues of the Daily Californian."/>
        <meta name="twitter:title" content="{% block twitter-title %}The Daily Californian Archive{% endblock %}"/>
        <meta name="twitter:site" content="@dailycal"/>
        <meta name="twitter:domain" content="The Daily Californian"/>
        <meta name="twitter:image" content="{% static 'browser/img/newsprint-share-image.png' %}"/>
        <meta name="twitter:creator" content="@dailycal"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{% block fb-title %}The Daily Californian Archive{% endblock %}"/>
        <meta property="og:url" content=""/>
        <meta property="og:type" content="article"/>
        <meta property="og:description" content="An online archive of historical issues of the Daily Californian."/>
        <meta property="og:image" content="{% static 'browser/img/newsprint-share-image.png' %}"/>
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:site_name" content="The Daily Californian Archive"/>
        <meta property="article:publisher" content="https://www.facebook.com/dailycal"/>
        <meta property="fb:admins" content="877855486"/>
        {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
        {% block extra-meta %}{% endblock %}
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'browser/css/bootstrap.min.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'browser/font-awesome-4.6.3/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'browser/css/style.css' %}"/>
    {% endblock %}

    {% block extra-css %}{% endblock %}

    {% block js %}
    <script src="{% static 'browser/js/jquery.min.js' %}"></script>
    <script src="{% static 'browser/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% include 'browser/navbar.html' %}
    {% block top %}{% endblock %}
    {% block container %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    <footer class="footer">
      <div class="container">
        <p>Questions, comments or corrections? Email <a href="mailto:archive@dailycal.org">archive@dailycal.org</a>. This project is open-source on <a href="https://github.com/dailycal-projects/archive">GitHub</a>. Support the archives by <a href="{% url 'sponsor' %}">sponsoring an issue</a>.<br>
        Copyright © 2016 The Daily Californian, The Independent Berkeley Student Publishing Co., Inc.</p>
      </div>
    </footer>
    {% block extra-js %}{% endblock %}
</body>
</html>