{% extends 'browser/base.html' %}
{% load static from staticfiles %}
{% load humanize %}

{% block extra-css %}
<style>
.top {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("{% static 'browser/img/bg.jpg' %}");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0 30px 0;
    color: #fff;
}
.heading {
    text-align: center;
}
.top h1 {
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    font-size: 90px;
    letter-spacing: 30px;
}
.top h2 {
    font-size: 40px;
    font-weight: 300;
}
.top p.lead {
    font-weight: 400;
    font-size: 24px;
}
a.btn {
    font-size: 24px;
}
.buttons {
    margin: 50px 0 70px 0;
    text-align: center;
}
.btn-dc {
    border-radius: 0;
    border: none;
    background-color: #107dc7;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}
.btn-dc:hover {
    background-color: black;
    color: #fff;
}
.footer {
    margin-top: 0;
}
hr {
    border-top: 1px solid #000;
    margin: 40px auto;
}
.row-info {
    padding: 80px 0 80px 0;
}

@media(max-width: 768px) {
    .top {
        padding: 30px 0 30px 0;
    }
    .top h1 {
        font-size: 30px;
        letter-spacing: 18px;
    }
    .top h2 {
        font-size: 24px;
    }
    .top p.lead {
        font-size: 18px;
    }
    .buttons {
        margin: 20px 0 20px 0;
    }
    .btn-dc {
        margin-bottom: 10px;
    }
    .row-info {
        padding: 10px 0 10px 0;
    }
}
</style>
{% endblock %}

{% block top %}
<div class="top">
    <div class="container top-container">
        <div class="row heading">
            <h1>Newsprint</h1>
            <h2>The Daily Californian Print Archive</h2>
        </div>

        <div class="row buttons">
            <div class="col-md-3 col-md-offset-3">
                <a href="{% url 'issue_archive' %}" class="btn btn-dc btn-lg">Issues by year</a>
            </div>
            <div class="col-md-3">
                <a id="random-link" class="btn btn-dc btn-lg">Random issue</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-info">
        <div class="col-md-4">
            <h3>Explore 1964</h3>
            <p>We're starting by making available all issues published in 1964, the year of the Free Speech Movement on Berkeley's campus.</p>
            <p><a href="{% url 'issue_archive' %}#1964">View issues from 1964 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Sponsor an issue</h3>
            <p>Converting microfilm to digital images is a time-consuming, manual process. Support us by sponsoring the digitization of a month or year.</p>
            <p><a href="{% url 'sponsor' %}">Find out more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>About this project</h3>
            <p>This site will eventually host a searchable archive of every issue the Daily Californian has published since it began printing in 1871.</p>
            <p><a href="{% url 'about' %}">Read about our plans &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block container %}
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Donate to Newsprint</h3>
      </div>
      <div class="modal-body">
        <p>The Daily Californian is an independent student newspaper. We're funding this archival project entirely through donations.</p>
        <p>We're currently running a crowdfunding campaign with a target goal of <b>$6,000</b>. Please consider sponsoring our efforts.</p>
        <br>
        <div class="wrapper" style="text-align: center;">
            <a href="https://www.gofundme.com/newsprint" class="btn btn-dc btn-lg" target="_blank">Donate now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra-js %}
<script>

$('#donateModal').modal();

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

var random_issue_urls = {{ random_issue_urls|safe }};
var random_index = getRandomInt(0, random_issue_urls.length);
$('#random-link').attr('href', random_issue_urls[random_index]);
</script>
{% endblock %}