{% extends 'browser/base.html' %}
{% load static from staticfiles %}

{% block title %}{{ object.date }} | {{ block.super }}{% endblock %}
{% block twitter-title %}{{ object.date }} | {{ block.super }}{% endblock %}
{% block fb-title %}{{ object.date }} | {{ block.super }}{% endblock %}

{% block extra-css %}
<style>
	#viewer {
		width: 100%;
		height: 500px;
		margin: 20px 0;
		border: 1px solid black;
		background: black;
	}
    #page-number {
        font-weight: bold;
    }
    .openseadragon-canvas{ background: #202020 !important; }

    body {
        background: #202020;
    }

    .row {
        text-align: center;
        color: #fff;
    }

    .btn, .input {
        background: rgba(0,0,0,0.7);
        color: #C4C4C4;
    }
    .btn:hover {
        background: rgba(0,0,0,0.7);
        color: #107dc7;
    }

    #page-number {
        border: none;
        width: 30px;
        text-align: right;
    }

    h3 {
        margin-top: 0px;
    }

    .row {
        margin-top: 10px;
    }

    a {
        color: rgba(255,255,255,0.7);
    }

    a:hover {
        color: #107dc7;
        text-decoration: none;
    }

</style>
{% endblock %}

{% block container %}
<div class="row">
    <div style="text-align: left; padding-left: 50px;" class="hidden-xs col-sm-4">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ ARCHIVE_BUCKET_URL }}{{ object.pdf_path }}"> <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Issue PDF</a>
            <a class="btn btn-default" id="page-pdf"><i class="fa fa-download" aria-hidden="true"></i> &nbsp; Page PDF</a>
            <a class="btn btn-default" id="copy-btn" data-clipboard-text=""><i class="fa fa-clipboard" aria-hidden="true"></i> &nbsp; Copy link</a>
        </div>
    </div>
    <div style="text-align: center;" class="col-sm-4">
        <h3>
        {% with object.get_previous_by_date as issue %}
        {% if issue %}
        <a href="{% url 'issue_detail' year=issue.date.year month=issue.date|date:'m' day=issue.date|date:'d' %}">&laquo;</a>
        {% else %}
        {% endif %}
        {% endwith %}

        &nbsp; {{ object.date|date:"l, F j, Y" }} &nbsp;

        {% with object.get_next_by_date as issue %}
        {% if issue %}
        <a href="{% url 'issue_detail' year=issue.date.year month=issue.date|date:'m' day=issue.date|date:'d' %}">&raquo;</a>
        {% else %}
        {% endif %}
        {% endwith %}
        </h3>

        <p style="margin-bottom: 0;"><em>{% if object.sponsor %}Sponsored by {{ object.sponsor }}{% else %}<a href="{% url 'sponsor' %}">Sponsor this issue</a>{% endif %}</em></p>

    </div>
    <div style="text-align: right; padding-right: 50px;" class="col-sm-4">

        <div>

        <a class="btn btn-default" onclick="prevPage()"><i class="fa fa-step-backward" aria-hidden="true"></i></a> &nbsp; &nbsp;
        Page &nbsp;
          <input class="input" type="text" pattern="[0-9]*" id="page-number" placeholder="1">
        &nbsp; of {{ object.pages.all.count }}

        &nbsp; &nbsp; <a class="btn btn-default" onclick="nextPage()"><i class="fa fa-step-forward" aria-hidden="true"></i></a>

        </div>

        <br>

        <div class="btn-group">
            <button class="btn btn-default" id="zoom-in-btn"><i class="fa fa-search-plus" aria-hidden="true"></i> &nbsp; Zoom in</button>
            <button class="btn btn-default" id="zoom-out-btn"><i class="fa fa-search-minus" aria-hidden="true"></i> &nbsp; Zoom out</button>
        </div>

    </div>
</div>

<div id="viewer"></div>
{% endblock %}

{% block extra-js %}
<script src="{% static 'browser/js/openseadragon.min.js' %}"></script>
<script src="{% static 'browser/js/openseadragonselection.min.js' %}"></script>
<script src="{% static 'browser/js/clipboard.min.js' %}"></script>
<script type="text/javascript">

    new Clipboard('#copy-btn');

    var pages = [
        {% for page in object.pages.all %}
        '{{ ARCHIVE_BUCKET_URL }}{{ page.filename }}',
        {% endfor %}
    ];

    // This converts the XML into a DZI tile source specification object that OpenSeadragon understands.
    // http://codepen.io/iangilman/pen/gpejpJ 
    var tileSourceFromData = function(data, filesUrl) {
        var $xml = $($.parseXML(data));
        var image = $xml.find('Image');
        var size = $xml.find('Size');

        var dzi = {
            Image: {
              xmlns: image.attr('xmlns'),
              Url: filesUrl,
              Format: image.attr('Format'),
              Overlap: image.attr('Overlap'),
              TileSize: image.attr('TileSize'),
              Size: {
                Height: size.attr('Height'),
                Width: size.attr('Width')
              }
            }
        };

        return dzi;
    };

    var viewer = OpenSeadragon({
        id: "viewer",
        defaultZoomLevel: 0,
        showHomeControl: false,
        showFullPageControl: false,
        showNavigator: true,
        setMouseNavEnabled: true,
        visibilityRatio: 0.8,
        zoomInButton: 'zoom-in-btn',
        zoomOutButton: 'zoom-out-btn',
        gestureSettingsMouse: {
            scrollToZoom: false,
            pinchToZoom: true,
            flickEnabled: true,
        }
    });

    function recenter() {
        p = new OpenSeadragon.Point(0.5,0.4);
        viewer.viewport.panTo(p);
    }

    function updatePage() {
        viewer.close();

        var pagePath = pages[currentPageNumber - 1];
        var dziDataUrl =  pagePath + '.dzi';
        var dziFilesUrl = pagePath + '_files/';

        $.get(dziDataUrl, function(data) {
            var ts = tileSourceFromData(data, dziFilesUrl);
            viewer.open(ts);
        });

        $('#page-number').val(currentPageNumber);
        window.location.hash = currentPageNumber;
        $('#page-pdf').attr('href', pages[currentPageNumber - 1] + '.pdf');
        $('#copy-btn').attr('data-clipboard-text', location.href);
    }

    var currentPageNumber = 1;
    var hashIndex = parseInt(location.hash.split('#')[1]);
    if (hashIndex) {
        currentPageNumber = hashIndex;
    }
    updatePage();

    function prevPage() {
        if (currentPageNumber > 1) {
            currentPageNumber = currentPageNumber - 1;
            updatePage();
            return true;
        } else {
            return false;
        }
    }
    function nextPage() {
        if (currentPageNumber < pages.length) {
            currentPageNumber = currentPageNumber + 1;
            updatePage();
            return true;
        } else {
            return false;
        }
    }

    $('#page-number').keydown(function(e) {
        if(e.keyCode === 13) {
          // do whatever you want with the value
          var newPageNumber = $(this).val();
          if (newPageNumber < 1 || newPageNumber > pages.length) {
            return false;
          } else {
            currentPageNumber = newPageNumber;
            updatePage();
          }
        }
      });

    $(window).on('hashchange', function(){
        var hashIndex = parseInt(location.hash.split('#')[1]);
        currentPageNumber = hashIndex;
        updatePage();
    });

</script>
{% endblock %}