{% extends 'browser/base.html' %}
{% load static from staticfiles %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'browser/css/bootstrap-datetimepicker.min.css' %}"/>
<style>
    .bootstrap-datetimepicker-widget table td.day {
        height: 60px;
        font-size: 20px;
    }
	.prev, .picker-switch, .next {
        display: none;
    }
    .day.disabled {
        color: lightgrey;
        font-weight: 300;
    }
    .day {
        background-color: #fcf8e3;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <ol class="breadcrumb">
          <li><a href="{% url 'issue_archive' %}">Issues</a></li>
          <li><a href="{% url 'issue_archive' %}#{{ month|date:'Y' }}">{{ month|date:'Y' }}</a></li>
          <li class="active">{{ month|date:"F" }}</li>
        </ol>

        <h1>Issues published in {{ month|date:"F Y" }}</h1>
        <p>
        {% if previous_month %}<a href="{% url 'archive_month' previous_month.year previous_month|date:'m' %}">&laquo; Previous month</a>{% else %}<span class="disabled">&laquo; Previous month</span>{% endif %} &middot; {% if next_month %}<a href="{% url 'archive_month' next_month.year next_month|date:'m' %}">Next month &raquo;</a>{% else %}<span class="disabled">Next month &raquo;</span>{% endif %}
        </p>

        <br>

        <div style="overflow:hidden;">
            <div class="form-group">
                <div id="calendar""></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-js %}
<script src="{% static 'browser/js/moment.min.js' %}"></script>
<script src="{% static 'browser/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
        var minDate = moment('{{ month }}');
        var maxDate = minDate.clone().add(1, "months").subtract(1, 'days');
        var enabledDates = [
        {% for date in date_list %}
        moment('{{ date }}'),
        {% endfor %}
        ];
        $(function () {
            var calendar = $('#calendar').datetimepicker({
                inline: true,
                format: 'MM/DD',
                maxDate: maxDate,
                minDate: minDate,
                enabledDates: enabledDates
            }).on('dp.change', function(e) {
                window.location.assign(window.location + e.date.format('DD'));
            });
        });
    </script>
{% endblock %}