<nav class="navbar navbar-dc navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="http://www.dailycal.org/" class="navbar-brand">the Daily Californian</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Archive</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-link"><a href="{% url 'issue_archive' %}">Issues</a></li>
                <li class="nav-link"><a href="{% url 'sponsor' %}">Sponsor</a></li>
                <li class="nav-link"><a href="{% url 'about' %}">About</a></li>
              </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>