{% extends 'browser/base.html' %}

{% block title %}Sponsor | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Sponsor the archives</h1>
        <p>Other newspapers have paid hundreds of thousands of dollars to contractors to digitize and host their archives. As an independent newspaper, we’re trying to archive our newspaper at a fraction of that cost.</p>
        <p>To help finance the digitization process, we suggest donating <b>$60 for each month</b> you'd like to sponsor or or <b>$600 for an entire year</b>. Any other amount will generally support the website and archiving process. We will display contributors’ names on our website alongside the sponsored issues — and all donations will go directly towards paying students for their labor and hosting the digitized newspapers online.</p>

        <br>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NDZ5SEAMVCBRC">
        <table>
        <tr><td><input type="hidden" name="on0" value="Month or year to be sponsored">Month or year to be sponsored</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
        <tr><td><input type="hidden" name="on1" value="Name of sponsor">Name of sponsor</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
        </table>
        <br>
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <br>

        <h2>Sponsors</h2>

        <ul>
        {% for sponsor in sponsors %}
        <li>
        {{ sponsor }}
        </li>
        {% endfor %}

        <li>Brad Barber</li>
        <li>William Roberts</li>
        <li>Shirley Conner</li>
        <li>Tom Leimkuhler</li>
        <li>Shreyas Patankar</li>

        <br>

    </div>
</div>
{% endblock %}