{% extends 'browser/base.html' %}

{% block title %}Sponsor | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Sponsor the archives</h1>
        <p>The archival process involves manually scanning microfilm of historical Daily Californian newsprint from the <a href="http://www.lib.berkeley.edu/libraries/newspaper-microform-library">UC Berkeley library</a>.</p>
        <p>Other newspapers have paid hundreds of thousands of dollars to contractors to digitize and host their archives. We're trying to archive our newspaper at a fraction of the cost, working independently and publishing our work online throughout the process.</p>
        <p>We're asking for your help with that effort. If you can't contribute your time, any donation you make will help us pay students for their labor and host the digitized newspapers online.</p>
        <p>If you sponsor the digitization of a month or a year, your name will be displayed on every issue page for that period of time. We're asking for <b>$20 for one month</b> or <b>$100 for one year</b>.</p>
        <p>Enter your email below, and we'll be in touch soon.</p>

    </div>
</div>
{% endblock %}